{% extends 'partials/base.html' %} {% block content %}

<section class="index">
    <div class="card text-center m-4">
        <div class="card-header">
            Earth Ocean Front Property: Wyoming
        </div>
        <div class="card-body">
            <h5 class="card-title">The Whole State</h5>
            <p class="card-text">Wyoming is large and has the lowest population of any state and therefore the lowest population density as well. Don't fact check us, we wouldn't lie to you.</p>
        </div>
        <div class="card-footer">
            <a href="/planets/Wyoming" class="btn btn-primary">Check it out</a>
        </div>
    </div>
    <div class="jumbotron m-4">
        <h1 class="display-4">Hello, planet!</h1>
        <p class="lead">That's why we're here, duh.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
    </div>

    <div class="card-deck m-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Venus</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer text-right">
                <a href="/planets/Venus" class="btn btn-primary">Check it out</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mars</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-right">
                <a href="/planets/Mars" class="btn btn-primary">Check it out</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Jupiter</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer text-right">
                <a href="/planets/Jupiter" class="btn btn-primary">Check it out</a>
            </div>
        </div>
    </div>

    <div class="card-deck m-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Uranus</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer text-right">
                <a href="/planets/Uranus" class="btn btn-primary">Check it out</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mercury</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-right">
                <a href="/planets/Mercury" class="btn btn-primary">Check it out</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Neptune</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer text-right">
                <a href="/planets/Neptune" class="btn btn-primary">Check it out</a>
            </div>
        </div>
    </div>

    <div class="card-deck m-2">
        <div class="card">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Saturn</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer text-right">
                <a href="/planets/Saturn" class="btn btn-primary">Check it out</a>
            </div>
        </div>
        <div class="card">
        </div>
    </div>
</section>
<section>
    <div class="jumbotron m-4">
        <h1 class="display-4">Hello, planet!</h1>
        <p class="lead">That's why we're here, duh.</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                GIVE US YOUR CARD INFO REEE
            </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body">
                        <input type="text">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}